body {
  background-color: black;
}

.parent {
  position: absolute;
  transform:scale(75%);
  margin: left; 
  top: -150px;
  right: -190px;
}

  
#Grafik {
  position: relative;
  top: 0;
  left: 0;
}


#zHover {
  position: absolute;
  top: 110.5px;
  left: 322px;
}

#oHover {
  position: absolute;
  top: 266px;
  left: 315.5px;
}

#ooHover {
  position: absolute;
  top: 421px;
  left: 315.5px;
}

#mHover {
  position: absolute;
  top: 574.5px;
  left: 323.3px;
}

#iHover {
  position: absolute;
  top: 758px;
  left: 323.5px;
}

#nHover {
  position: absolute;
  top: 818px;
  left: 324px;
}

#zGif {
  /*visibility: hidden;*/
  position: absolute;
  top: -5px;
  left: 295px;
  z-index: -1;
  display: none;
}

#ooGif {
  /*visibility: hidden;*/
  position: absolute;
  top: -5px;
  left: 295px;
  z-index: -1;
  display: none;
}

#oGif {
  /*visibility: hidden;*/
  position: absolute;
  top: -5px;
  left: 295px;
  z-index: -1;
  display: none;
}

#mGif {
  /*visibility: hidden;*/
  position: absolute;
  top: -5px;
  left: 295px;
  z-index: -1;
  display: none;
}

#iGif {
  /*visibility: hidden;*/
  position: absolute;
  top: -5px;
  left: 295px;
  z-index: -1;
  display: none;
}

#nGif {
  /*visibility: hidden;*/
  position: absolute;
  top: -5px;
  left: 295px;
  z-index: -1;
  display: none;
}

#disappear {
  /*visibility: hidden;*/
  position: absolute;
  top: -5px;
  left: 295px;
  z-index: -2;
  animation: disappear 0s linear 8s forwards;
}

@keyframes disappear {
    to {opacity:0;}
}


.collapsible {
  background-color: transparent;
  color: red;
  cursor: pointer;
  padding-top: 20px;
  padding-right: 20px;
  width: 100%;
  border: none;
  position: fixed;
  bottom: 0%;
  text-align: right;
  outline: none;
  font-size: 60px;
  font-weight: bold;
  font-family: "futura";
}

.active, .collapsible:hover {
  background-color: none;
}

.content {
  padding: 0px;
  padding-top: 20px;
  padding-right: 5px;
  max-height: 0;
  z-index: 1000000;
  max-width: 10000vw;
  position: fixed;
  color: red;
  bottom: 5%;
  right: 6%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
  display: flex;
  text-align: right;
  font-size: 20px;
  font-family: "futura";
}


a:link{
    color: red;
}
a:visited {
    color: red;
}
